<div class="nav">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">
                About Me
            </Microsoft.AspNetCore.Components.Routing.NavLink>
        </li>

        <li class="nav-item px-3">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="/hobbies" Match="NavLinkMatch.All">
                Hobbies
            </Microsoft.AspNetCore.Components.Routing.NavLink>
        </li>

        <li class="nav-item px-3">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="/contact" Match="NavLinkMatch.All">
                Contact
            </Microsoft.AspNetCore.Components.Routing.NavLink>
        </li>

    </ul>
</div>